:root {
    --black-like: #2D2A29;
    --grey-like: #EEE8ED;
    --hover-grey-like: #dcd6db;
}

.header {
    width: 100%;
    padding-top: 1rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent !important;

    min-height: auto !important;
    padding: 0 2rem !important;
    margin-bottom: 4rem;
}

.logo {
    color: var(--black-like);
    font-weight: bold !important;
    letter-spacing: 1px;
}

.navLinks {
    display: flex;
    gap: 0.5rem;
}

.navLinks button {
    color: var(--black-like) !important;

    font-weight: 600;

    text-transform: none;

    border-radius: 8px;

    padding: 6px 14px;

    transition: background-color 0.2s ease;
}

.navLinks button:hover {
    background-color: var(--hover-grey-like);
}

.navLinks button:focus {
    outline: none;
}