:root {
    --black-like: #2D2A29;
    --grey-like: #EEE8ED;
}

#accountContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    border: 1px solid var(--black-like);
    width: 50%;
    padding: 20px 0;
    border-radius: 3px;
    background-color: var(--grey-like);
}