:root {
    --black-like: #2D2A29;
    --grey-like: #EEE8ED;
}

#accountWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#accountContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 1px solid var(--black-like);
    width: 50%;
    max-width: 400px;
    padding: 30px 20px;
    border-radius: 8px;
    background-color: var(--grey-like);
}

.inputTags {
    text-align: center;
}

#backBtnContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}