:root {
    --black-like: #2D2A29;
    --grey-like: #EEE8ED;
}

h3 {
    text-align: center;
}

#background-color-wish {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 1px solid var(--black-like);
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    color: var(--black-like);
    padding: 20px 20px 30px;
    border-radius: 8px;
    background-color: var(--grey-like);
}

#btnContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}