:root {
    --black-like: #2D2A29;
    --grey-like: #EEE8ED;
}

h3 {
    text-align: center;
}

#background-color-wish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--black-like);
    border-radius: 3px;
    background-color: var(--grey-like);
    width: 40%;
    padding-bottom: 1rem;
    margin: auto;
    color: var(--black-like);
}