#calendar-container {
    margin-top: 30px;
}

#calendar-cells {
    display: flex;
    align-items: center;
}

.arrows {
    cursor: pointer;
}

.heatRow {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 3px;
}

.heatRow span {
    width: 20px;
    font-size: 0.8em;
}

.heatCell {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.heatHour {
    width: 20px;
    font-size: 0.7em;
    text-align: center;
}

#heatMapModalContainer {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

#backBtn {
    align-self: flex-end;
    margin: 3px 5px;
}

.daysLabel {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 0.8em;
    margin-right: 4px;
}

.hoursLabel {
    font-size: 0.8em;
    margin-left: 24px;
    margin-bottom: 2px;
}