:root {
    --black-like: #2D2A29;
    --grey-like: #EEE8ED;
}

#accountWrapper {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    box-sizing: border-box;
    width: 100%;
}

#accountContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputTags {
    padding: 0 10px;
}

.inputTags input {
    width: 100%;
    color: var(--black-like);
    font-size: 1em;
    font-weight: bold;
    border: 1px solid var(--black-like);
    padding: 5px 7px;
    border-radius: 3px;
    background-color: var(--grey-like);
}