:root {
    --black-like: #2D2A29;
    --grey-like: #EEE8ED;
    --hover-grey-like: #cfcace;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.menu-icon-button {
    color: var(--black-like);
}

.menu-icon-button .MuiSvgIcon-root {
    font-size: 3rem;
}

.custom-menu .MuiPaper-root {
    background-color: var(--grey-like);
    border: 1px solid var(--black-like);
    border-radius: 3px;
    margin-top: 8px;
}

.custom-menu-item {
    color: var(--black-like);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-bottom: 1px solid var(--black-like);
}

.custom-menu-item:last-child {
    border-bottom: none;
}

.custom-menu-item:hover {
    background-color: var(--hover-grey-like);
}