*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #D9E8D6;
    margin: 0;
    padding: 5px 5px 10px 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #2D2A29;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DF7046;
    font-size: 2em;
    border: 1px solid #DF7046;
    padding: 2px 15px;
    background-color: #F8EBCE;
    border-radius: 3px;
}

.menu {
    font-size: 3em;
    color: #2D2A29;
}

.navBar {
    display: flex;
    flex-direction: column;
    border: 1px solid #2D2A29;
    background-color: #EEE8ED;
    position: absolute;
    right: 1rem;
    top: 5.5rem;
    border-radius: 3px;
}

.links {
    color: #2D2A29;
    text-decoration: none;
    font-weight: bold;
    padding: 7px;
    border-bottom: 1px solid #2D2A29;
}

.links:hover {
    background-color: #cfcace;
}

.timerMain,
.sessionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    text-align: center;
    margin: 15px 0 5px;
    font-size: 1.5em;
    font-weight: bold;
}

#timing {
    width: 200px;
    color: #2D2A29;
}

.timerBtn,
#sessionBtn {
    color: #2D2A29;
    font-size: 1.1em;
    font-weight: bold;
    border: 1px solid #2D2A29;
    border-radius: 3px;
    padding: 5px 12px;
    background-color: #EEE8ED;
}

#sessionBtn {
    color: #2D2A29;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #2D2A29;
    border-radius: 3px;
    padding: 5px 12px;
    background-color: #EEE8ED;
}

#options {
    color: #2D2A29;
    font-size: 1.1em;
    font-weight: bold;
    border: 1px solid #2D2A29;
    border-radius: 3px;
    padding: 5px 7px;
    background-color: #EEE8ED;
}

#timer {
    font-size: 3.5em;
}